.tab-wrapper table {
  margin-right: var(--fect-gap);
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.tab-wrapper table pre {
  margin: 0;
}

.tab-wrapper table th,
.tab-wrapper table td {
  padding: 0 10px;
  text-align: left;
}

.tab-wrapper table th {
  height: 1.9rem;
  color: var(--accents-5);
  font-size: 0.87rem;
  font-weight: 400;
  letter-spacing: 0;
  background-color: var(--accents-1);
  border-bottom: 1px solid var(--accents-2);
  border-top: 1px solid var(--accents-2);
}

.tab-wrapper table th:nth-child(1) {
  border-bottom: 1px solid var(--accents-2);
  border-left: 1px solid var(--accents-2);
  border-radius: 4px 0 0 4px;
  border-top: 1px solid var(--accents-2);
}

.tab-wrapper table th:last-child {
  border-bottom: 1px solid var(--accents-2);
  border-radius: 0 4px 4px 0;
  border-right: 1px solid var(--accents-2);
  border-top: 1px solid var(--accents-2);
}

.tab-wrapper table tr,
.tab-wrapper table tr td {
  border-bottom: 1px solid var(--accents-2);
  color: var(--accents-6);
  font-size: 0.8rem;
  height: 2.2rem;
}

.tab-wrapper table td:nth-child(1) {
  border-left: 1px solid transparent;
  font-size: 0.86rem;
}

.tab-wrapper table td:nth-child(1) > strong {
  font-weight: normal;
}

.tab-wrapper thead th td {
  height: 2.5rem;
}

.tab-wrapper tbody tr td {
  height: 3px;
}

@media only screen and (max-width: 650px) {
  .tab-wrapper {
    overflow-x: scroll;
  }
  .tab-wrapper table {
    overflow-x: scroll;
    white-space: nowrap;
  }
  .tab-wrapper table td code {
    white-space: nowrap;
  }
}
