@import url(./code.css);
@import url(./table.css);

:root {
  --nav-height: 64px;
  --nav-bar-width: 200px;
}

.light-theme:root {
  --fect-vague-header: rgba(255, 255, 255, 0.8);
}

.dark-theme:root {
  --fect-vague-header: rgba(0, 0, 0, 0.8);
}

body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-thumb {
  width: 0;
}
