@form-item-mini-font-size: 12px;
@form-item-small-font-size: 12px;
@form-item-medium-font-size: 14px;
@form-item-large-font-size: 16px;

@form-item-mini-ratio: 1.313;
@form-item-small-ratio: 1.5;
@form-item-medium-ratio: 1.687;
@form-item-large-ratio: 1.875;

:root {
  --form-item-mini-font-size: @form-item-mini-font-size;
  --form-item-small-font-size: @form-item-small-font-size;
  --form-item-medium-font-size: @form-item-medium-font-size;
  --form-item-large-font-size: @form-item-large-font-size;

  --form-item-mini-ratio: @form-item-mini-ratio;
  --form-item-small-ratio: @form-item-small-ratio;
  --form-item-medium-ratio: @form-item-medium-ratio;
  --form-item-large-ratio: @form-item-large-ratio;
}

.form-fade {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: opacity 0.35s ease-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.fect-form {
  &__item {
    display: flex;
    align-items: center;
    &--mini {
      font-size: var(--form-item-mini-font-size);
      margin-bottom: calc(16px * var(--form-item-mini-ratio));
      --form-item-font-size: var(--form-item-mini-font-size);
    }
    &--small {
      font-size: var(--form-item-small-font-size);
      margin-bottom: calc(16px * var(--form-item-small-ratio));
      --form-item-font-size: var(--form-item-small-font-size);
    }
    &--medium {
      font-size: var(--form-item-medium-font-size);
      margin-bottom: calc(16px * var(--form-item-medium-ratio));
      --form-item-font-size: var(--form-item-medium-font-size);
    }
    &--large {
      font-size: var(--form-item-large-font-size);
      margin-bottom: calc(16px * var(--form-item-large-ratio));
      --form-item-font-size: var(--form-item-large-font-size);
    }
    &--inline {
      display: inline-flex;
      align-items: center;
      margin-right: var(--fect-gap-half);
    }
    &--top {
      display: block;
      .fect-form__label {
        display: block;
        margin-bottom: var(--fect-gap-half);
      }
    }
  }
  &__label {
    box-sizing: border-box;
    padding: 0 var(--fect-gap-half) 0 0;
    &--required {
      &::before {
        content: '*';
        color: var(--error-default);
        margin-right: 5px;
      }
    }
  }
  &__content {
    position: relative;
    flex: 1;
    min-width: 0;
  }
  &__error {
    color: var(--error-light);
    font-size: var(--form-item-font-size);
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
