@colors : red;

.fay-btn{
  box-sizing: border-box;
  display: inline-block;
  // padding: ;
  font-weight: 400;
  user-select: none;
  text-transform: capitalize;
  white-space: nowrap;
  text-align: center;
  outline: none;
  width: auto;
  border: 1px solid var(--body-colors);
}