:root {
  --input-number-mini-font-size: 12px;
  --input-number-small-font-size: 14px;
  --input-number-medium-font-size: 16px;
  --input-number-large-font-size: 18px;

  --input-number-mini-ratio: 1.3;
  --input-number-small-ratio: 1.5;
  --input-number-medium-ratio: 1.687;
  --input-number-large-ratio: 1.875;

  --input-number-mini-width: 130px;
  --input-number-small-width: 150px;
  --input-number-medium-width: 180px;
  --input-number-large-width: 200px;
}

.fect-input-number {
  &--mini {
    --input-number-font-size: var(--input-number-mini-font-size);
    --input-number-width: var(--input-number-mini-width);
    --input-number-ratio: var(--input-number-mini-ratio);
  }
  &--small {
    --input-number-font-size: var(--input-number-small-font-size);
    --input-number-width: var(--input-number-small-width);
    --input-number-ratio: var(--input-number-small-ratio);
  }
  &--medium {
    --input-number-font-size: var(--input-number-medium-font-size);
    --input-number-width: var(--input-number-medium-width);
    --input-number-ratio: var(--input-number-medium-ratio);
  }
  &--large {
    --input-number-font-size: var(--input-number-large-font-size);
    --input-number-width: var(--input-number-large-width);
    --input-number-ratio: var(--input-number-large-ratio);
  }
  &--disabled {
    cursor: not-allowed;
    background-color: var(--accents-1);
  }

  cursor: pointer;
  width: var(--input-number-width);
  display: inline-flex;
  align-items: center;
  height: calc(var(--input-number-ratio) * var(--fect-gap));

  input {
    text-align: center;
    &[type='number']::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  &__label {
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0 var(--fect-gap-half);
    line-height: calc(var(--input-number-ratio) * var(--fect-gap));
    border: 1px solid var(--fect-border);
    &--prefix {
      border-right: 0;
      border-top-left-radius: var(--fect-radius);
      border-bottom-left-radius: var(--fect-radius);
    }
    &--suffix {
      border-left: 0;
      border-top-right-radius: var(--fect-radius);
      border-bottom-right-radius: var(--fect-radius);
    }
    svg {
      width: var(--input-number-font-size);
      height: var(--input-number-font-size);
    }
    &--disabled {
      cursor: not-allowed;
    }
  }

  .fect-input {
    height: 100%;
    width: 100%;
    &__container {
      width: 100%;
      height: 100%;
    }
    &__wrapper {
      border-radius: 0;
    }
  }
}
