:root {
  --input-number-mini-font-size: 12px;
  --input-number-small-font-size: 14px;
  --input-number-medium-font-size: 16px;
  --input-number-large-font-size: 18px;

  --input-number-mini-ratio: 0.8;
  --input-number-small-ratio: 1.5;
  --input-number-medium-ratio: 1.687;
  --input-number-large-ratio: 1.875;

  --input-number-mini-width: 130px;
  --input-number-small-width: 150px;
  --input-number-medium-width: 180px;
  --input-number-large-width: 200px;
}

.fect-input-number {
  &--mini {
    --input-number-font-size: var(--input-number-mini-font-size);
    --input-number-width: var(--input-number-mini-width);
    --input-number-ratio: var(--input-number-mini-ratio);
  }
  &--small {
    --input-number-font-size: var(--input-number-small-font-size);
    --input-number-width: var(--input-number-small-width);
    --input-number-ratio: var(--input-number-small-ratio);
  }
  &--medium {
    --input-number-font-size: var(--input-number-medium-font-size);
    --input-number-width: var(--input-number-medium-width);
    --input-number-ratio: var(--input-number-medium-ratio);
  }
  &--large {
    --input-number-font-size: var(--input-number-large-font-size);
    --input-number-width: var(--input-number-large-width);
    --input-number-ratio: var(--input-number-large-ratio);
  }

  input {
    text-align: center;
    // padding-right: 0;
    &[type='number']::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  width: var(--input-number-width);
  .fect-input {
    height: calc(var(--input-number-ratio) * var(--fect-gap));

    &__label {
      &--prefix,
      &--suffix {
        pointer-events: inherit;
        cursor: pointer;
        svg {
          height: var(--input-number-font-size);
          width: var(--input-number-font-size);
        }
        &:hover {
          color: var(--accents-5) !important;
        }
      }
    }
  }
}
