.fect-badge {
  display: inline-block;
  border-radius: 16px;
  font-variant: tabular-nums;
  line-height: 1;
  vertical-align: middle;
  background-color: var(--badge-bg-color);
  color: var(--badge-color);
  border: 0;
  font-size: var(--badge-font-size);
  width: var(--badge-width);
  height: var(--badge-height);
  padding: var(--badge-pt) var(--badge-pr) var(--badge-pb) var(--badge-pl);
  margin: var(--badge-mt) var(--badge-mr) var(--badge-mb) var(--badge-ml);
  &.dot {
    padding: var(--badge-dot-py) var(--badge-dot-px);
    user-select: none;
    border-radius: 50%;
  }
}
