.primary,
:root {
  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #444;
  --accents-4: #666;
  --accents-5: #888;
  --accents-6: #999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
}

.error,
:root {
  --geist-error: red;
  --geist-error-light: #f33;
  --geitst-error-dark: #e60000;
}

.success,
:root {
  --geist-success: #0070f3;
  --geist-success-light: #3291ff;
  --geist-success-dark: #0761d1;
}

.warning,
:root {
  --geist-warning: #f5a623;
  --geist-warning-light: #f7b955;
  --geist-warning-dark: #ab570a;
}

.cyan,
:root {
  --geist-cycan: #50e3c2;
  --geist-cycan-light: #79ffe1;
  --geist-cycan-dark: #29bc9b;
}

.highlight,
:root {
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
}
