.primary,:root{
  --accents-1:#111;
  --accents-2:#333;
  --accents-3:#444;
  --accents-4:#666;
  --accents-5:#888;
  --accents-6:#999;
  --accents-7:#EAEAEA;
  --accents-8:#FAFAFA;
}

.error,:root{
  --geist-error:red;
  --geist-error-light:#f33;
  --geitst-error-dark:#E60000;
}

.success,:root{
  --geist-success:#0070F3;
  --geist-success-light:#3291FF;
  --geist-success-dark:#0761d1;
}

.warning,:root{
  --geist-warning:#f5a623;
  --geist-warning-light:#f7b955;
  --geist-warning-dark:#AB570A;
}

.cyan,:root{
  --geist-cycan:#50E3C2;
  --geist-cycan-light:#79FFE1;
  --geist-cycan-dark:#29BC9B;
}

.highlight,:root{
  --geist-highlight-purple:#F81CE5;
  --geist-highlight-magenta:#EB367F;
  --geist-highlight-pink:#FF0080;
  --geist-highlight-yellow:#FFF500;  
}