.fect-badge {
  display: inline-block;
  padding: 4px 7px;
  border-radius: 16px;
  font-variant: tabular-nums;
  line-height: 1;
  vertical-align: middle;
  border: 0;
  color: var(--primary-background);
}

.fect-dot {
  padding: 4px;
  border-radius: 50%;
}
