.fect-breadcrumbs {
  line-height: inherit;
  color: var(--breadcrumbs-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: var(--breadcrumbs-font-size);
  width: var(--breadcrumbs-width);
  height: var(--breadcrumbs-height);
  padding: var(--breadcrumbs-pt) var(--breadcrumbs-pr) var(--breadcrumbs-pb) var(--breadcrumbs-pl);
  margin: var(--breadcrumbs-mt) var(--breadcrumbs-mr) var(--breadcrumbs-mb) var(--breadcrumbs-ml);
  &__separator {
    display: inline-flex;
    user-select: none;
    pointer-events: none;
    align-items: center;
    width: var(--breadcrumbs-spearator-width);
    height: var(--breadcrumbs-spearator-height);
    margin: var(--breadcrumbs-spearator-mt) var(--breadcrumbs-spearator-mr) var(--breadcrumbs-spearator-mb)
      var(--breadcrumbs-spearator-ml);
    padding: var(--breadcrumbs-spearator-pt) var(--breadcrumbs-spearator-pr) var(--breadcrumbs-spearator-pb)
      var(--breadcrumbs-spearator-pl);
  }
}
