.fect-code {
  max-width: 100%;
  border: 1px solid var(--code-border);
  font-size: var(--code-font-size);
  height: var(--code-height);
  width: var(--code-width);
  margin: var(--code-mt) var(--code-mr) var(--code-mb) var(--code-ml);
  border-radius: var(--code-radius);
  background-color: var(--code-bg-color);
  pre {
    max-width: 100%;
    font-size: inherit;
    border: none;
    margin: 0;
    line-height: 1.5em;
    padding: var(--code-pt) var(--code-pr) var(--code-pb) var(--code-pl);
  }
  &__name {
    border: 1px solid var(--code-name-border);
    background-color: var(--code-name-bg-color);
    color: var(--code-name-color);
    width: auto;
    padding: var(--code-name-pt) var(--code-name-pr) var(--code-name-pb) var(--code-name-pl);
    height: auto;
    font-size: var(--code-name-font-size);
    line-height: 1.35em;
    display: inline-flex;
    align-items: center;
    width: auto;
    border-top-left-radius: calc(var(--code-radius) - 1px);
    border-bottom-right-radius: var(--code-radius);
  }
}
