.color-ctx {
  flex-direction: column;
}
.color-col:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.color-col:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.color-item {
  height: 60pt;
  display: flex;
  padding: 16pt;
  box-sizing: border-box;
  align-items: center;
}

.color-item h4 {
  flex: 1;
  margin: 0;
  cursor: pointer;
  user-select: none;
}
.color-item span {
  flex: 1;
}
.color-item span:nth-child(2) {
  text-align: center;
}
.color-item span:nth-child(3) {
  text-align: end;
}
